@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView Policy="RequireTeacher">
    <p><a href="/curriculum/teacher">Propose a lesson change</a></p>
</AuthorizeView>
<AuthorizeView Policy="RequireApprover">
    <p><a href="/curriculum/approver">Curriculum approvals</a></p>
</AuthorizeView>
<AuthorizeView Policy="RequireAdminOrTeacher">
    <p><a href="/registration/students">Register a student</a></p>
    <p><a href="/guardianship/links">Guardian links</a></p>
</AuthorizeView>
<AuthorizeView Policy="RequireAdminOrSafeguardingOfficer">
    <p><a href="/safeguarding/consent">Consent records</a></p>
    <p><a href="/safeguarding/dbs">DBS checks</a></p>
</AuthorizeView>
